<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <header>
            <h1>Lista de Pessoas</h1>
            <nav>
                <a th:href="@{/}">Home</a>
                <a th:href="@{/pessoas/form}">Formulário</a>
            </nav>
        </header>
        <main>
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th colspan="3">Descrição</th>
                    </tr>
                </thead>
                <tr th:each="p : ${pessoas}">
                    <td th:text="${p.id}"> </td>
                    <td th:text="${p.nome}"> </td>
                    <td> <a th:href="@{/pessoas/edit/{id}(id=${p.id})}">Editar</a> </td>
                    <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pessoas/remove/{id}(id=${p.id})}">Excluir</a> </td>
                </tr>
            </table>
        </main>
        <footer>
            <p>por Jeferson Ferreira</p>
        </footer>
    </body>
</html>